{% extends 'base.html.twig' %}

{% block title %}Wine App{% endblock %}

{% block body %}
    <header>
        <div class="title_header">
            <h1>collection Wine</h1>
                <li>
                    <ul class="connexion_header"><a href="#">Connexion</a></ul>
                    <ul class="connexion_header"><a href="#">Inscription</a></ul>
                    <p>Espace Pro</p> 
                </li>
        </div>
        
    </header>
    
{% endblock %}