{% extends 'base.html.twig' %}

{% block title %}Wine App{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .title_header {display: flex; width: 100%; border: solid red; font-size: 2.5rem; align-items: center; text-align: center; justify-content: space-around; background-color: #dd5959;}
    .main_img { height: 100px;}
    .main {display: flex; width: 100%; border: solid red; font-size: 2.5rem; align-items: center; text-align: center; justify-content: space-around; background-color: #dd5959;}
</style>

    <header>
        <div class="title_header">
            <h1>Wine App!</h1>
                <li>
                    <ul class="connexion_header"><a href="#">Connexion</a></ul>
                    <ul class="connexion_header"><a href="#">Inscription</a></ul>
                    <p>Espace Pro</p>
                </li>
        </div>
        
    </header>
    
{% endblock %}
