{% extends 'base.html.twig' %}

{% block title %}Wine App{% endblock %}

{% block body %}
    <header>
        <div class="title_header">
            <h1>Wine App!</h1>
                <li>
                    <ul class="connexion_header"><a href="/wine_red">wine Red</a></ul>
                    <ul class="connexion_header"><a href="/wine_rose">wine Rose</a></ul>
                    <ul class="connexion_header"><a href="/wine_white">wine white</a></ul>
                    <ul class="connexion_header"><a href="/collection_wine">collection</a></ul>
                    
                    <p>Espace Pro</p>
                </li>
        </div>
        
    </header>
    
{% endblock %}
